{% extends 'base.html' %}

{% block title %}
<p>This is my gallery page</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, consequatur delectus dolor dolore eum incidunt, minus molestiae natus nostrum obcaecati repellendus rerum ullam voluptas voluptatem voluptates? Incidunt porro sequi unde.</p>
<h4>Please visit us again</h4>

{% endblock %}


{% block content %}
<p class="lead text-muted ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab delectus distinctio illo iusto magnam minima quia temporibus ut voluptate.</p>

{% endblock %}