<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../../static/css/styles.css" >

</head>
<body>
<p>This is my gallery page</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, consequatur delectus dolor dolore eum incidunt, minus molestiae natus nostrum obcaecati repellendus rerum ullam voluptas voluptatem voluptates? Incidunt porro sequi unde.</p>
<h4>Please visit us again</h4>
<div class="footer-section">
    <footer>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </footer>
</div>
</body>
</html>